.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.draggable-field {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: grab;
}

.draggable-field .handle {
  width: 60px;
  height: 10px;
  background-color: #ccc;
  margin: 5px auto;
  border-radius: 5px;
  cursor: grab;
}
.bg-gradient-with-image {
  background: 
    linear-gradient(to right, #e8f5e9, #f1f8e9), /* Gradient */
    url('https://i.ibb.co/CMPhF0y/various-pills-wooden-spoon.png'); /* Image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Center the image */
}
